#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                   \
    ZMK_LAYER(                                                                 \
        name,                                                                  \
            LT &none            &none        RT                                \
            LM &none            &none        RM                                \
            LB &none            &none        RB                                \
            LH &sk LS(LC(LALT)) &smart_mouse RH                                \
    )

#include "42.h"
#include "base.keymap"